<div class="container text-center bg-light card">
<h1>Contact US</h1>
<form action="/message" method="post">
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1">
      <i class="bi bi-person"></i>
    </span>
    <input type="text" class="form-control" placeholder="First Name" aria-label="Input group example" aria-describedby="basic-addon1" fdprocessedid="czv4b" name="firstname" required>
  </div>
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1">
      <i class="bi bi-person"></i>
    </span>
    <input type="text" class="form-control" placeholder="Last Name" aria-label="Input group example" aria-describedby="basic-addon1" fdprocessedid="czv4b" name="lastname" required>
  </div>
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1">
      <i class="bi bi-envelope"></i>
    </span>
    <input type="text" class="form-control" placeholder="Email" aria-label="Input group example" aria-describedby="basic-addon1" fdprocessedid="czv4b" name="email" required>
  </div>
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1">
      <i class="bi bi-telephone"></i>
    </span>
    <input type="text" class="form-control" placeholder="Phone" aria-label="Input group example" aria-describedby="basic-addon1" fdprocessedid="czv4b" name="phone" required>
  </div>
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1">
      <i class="bi bi-chat-dots"></i>
    </span>
    <input type="text" class="form-control" placeholder="Message" aria-label="Input group example" aria-describedby="basic-addon1" fdprocessedid="czv4b" name="message" required>
  </div>
  <button type="submit" class="btn btn-secondary" fdprocessedid="tbmdwk" style="margin:20px;"><i class="bi bi-send"></i> Send </button>
</form>
</div>
