<h1>{{hn}} is the capital of {{vn}} </h1>
<a href="/vietnam">Link to Vietnam Page</a> <br>
<button type="button" class="btn btn-primary">Button</button>
<div class="alert alert-primary" role="alert">
    <strong>Alert Heading</strong> Some Word
</div>
